<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100i,300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <!-- LaarmWork CSS -->
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/text.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/block.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/navbar.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/main.css">
    <link href="https://laarmwork.arnaudjacques.fr/res/css/alert.css" rel="stylesheet">
    <link href="https://laarmwork.arnaudjacques.fr/res/css/button.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}NumericCard{% endblock %}</title>
</head>
<body>
<header>
    <style>
        main {
            padding-top: 55px;
        }
        nav.minNav {
            background-color: #2c3e52;
        }
        nav .content a, nav .dropbtn {
            color: #FFF;
        }
        nav .dropdown-content {
            min-width: 169px;
            background-color: #475673;
        }
        nav .dropdown-content a:hover {
            background-color: #2c3e52;
        }
        @media(max-width: 991px) {
            nav .content {
                background-color: #475673;
            }
        }
        @media(min-width: 991px) {
            nav .sidebar {
                position: fixed;
                background-color: #475673;
                left: 0;
                top: 55px;
                width: 250px;
                height: calc(100vh - 55px);
                display: flex;
                flex-direction: column;
                justify-content: normal;
            }
            nav .sidebar a {
                width: 100%;
                margin: 0;
                padding-left: 20px;
                border-bottom: 1px solid #2c3e52;
            }
            nav .sidebar a.active {
                padding-left: 16px;
                border-left: 4px solid rgba(38,139,216,1);
            }
            nav .sidebar a:hover {
                background-color: #2c3e52;
                border-bottom: none;
            }
        }
    </style>
    {% block navbar %}
    <nav class="fixed minNav">
        <div class="mobile btn"><i class="fas fa-bars"></i></div>
        <div class="content m-l-3 m-r-3">
            <div class="left">
                <a class="logo">{{ app.user.firstname|default('undefined') }} {{ app.user.lastname|default('undefined') }}</a>
                <a href="#">Dashboard</a>
                <a href="#">Démo</a>
                <div class="dropdown">
                    <button class="dropbtn">Outils <i class="fad fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Wiki</a>
                        <a href="#">Avoir de l'aide</a>
                        <a href="#">Devenir partenaire</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="btn" href="{{ path('adminDashboard') }}">Panel</a>
            </div>
            <div class="sidebar">
                <a href="#" class="active"><i class="fad fa-id-card"></i> Cartes de visite</a>
                <a href="#"><i class="fad fa-clipboard-list-check"></i> Mes prestations</a>
                <a href="#"><i class="fad fa-users-crown"></i> Fichier client</a>
                <a href="#"><i class="fad fa-calendar-alt"></i> Planning</a>
                <a href="#"><i class="fad fa-comments-alt"></i> Messages</a>
                <a href="#"><i class="fad fa-sms"></i> Distribution des SMS</a>
                <a href="#"><i class="fad fa-sign-out"></i> Déconnexion</a>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block header %}{% endblock %}
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then LaarmWork JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://arnaudjacques.fr/LaarmWork/res/js/laarmwork.js"></script>
<script src="https://kit.fontawesome.com/fd85e680ed.js" crossorigin="anonymous"></script>
</body>
</html>