{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard - NumericCard!{% endblock %}

{% block main %}
    <style>
        #content {
            padding-left: 250px;
        }

        #content nav {
            background-color: rgba(71, 86, 115, .3);
        }

        #content h1 {
            padding-right: 30px;
            font-size: 45px;
            color: rgba(38, 139, 216, 1);
            margin: 10px 0;
        }

        #content nav a {
            color: #475673;
            font-size: 18px;
        }

        #content nav .right a {
            color: #FFF;
        }

        #content nav a.active {
            border-bottom: 3px solid rgba(38,139,216,1);
        }
    </style>
    <section id="content">
        <h1 class="text-right">Carte de visite</h1>
        <nav class="m-relative m-index-no">
            <div class="mobile btn"><i class="fas fa-bars"></i></div>
            <div class="content">
                <div class="left">
                    <a href="#" class="active"><i class="fal fa-id-card"></i> Votre carte</a>
                    <a href="#"><i class="fal fa-pen"></i> Modifiez votre carte</a>
                    <a href="#"><i class="fal fa-analytics"></i> Statistiques</a>
                    <a href="#"><i class="fal fa-share-alt"></i> Partager</a>
                </div>
                <div class="right">
                    <a class="btn" href="#"><i class="fad fa-eye"></i> Voir ma carte</a>
                </div>
            </div>
        </nav>
        <style>
            #yourCard {
                display: flex;
            }

            #yourCard .left {
                width: 35%;
                padding: 3%;
                position: relative;
            }

            #yourCard .left img {
                width: 100%;
                position: relative;
                z-index: 1;
                pointer-events: none;
            }

            #yourCard .left iframe {
                position: absolute;
                top: 9.5%;
                left: 2%;
                height: 69.5%;
                width: 74%;
                margin: 11%;
            }

            #yourCard .right {
                width: 65%;
                padding: 3% 7% 3% 3%;
            }

            #yourCard .right .stats {
                display: flex;
                border-bottom: 1px #2c3e52 solid;
            }

            #yourCard .right .stats .left, #yourCard .right .stats .right {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            #yourCard .right .stats .left h2 {
                font-size: 35px;
                color: rgba(71, 86, 115, .9);
                text-align: right;
                margin: 0;
            }

            #yourCard .right .stats .left a {
                font-size: 15px;
                color: rgba(38, 139, 216, 1);
                margin-left: auto;
                text-decoration: none;
            }

            #yourCard .right .stats .right h2 {
                font-size: 80px;
                color: rgba(38, 139, 216, 1);
                margin: 1% 0 0 0;
            }

            #yourCard .right .stats .right h2 span {
                font-size: 20px;
                color: rgba(71, 86, 115, .9);
            }

            #yourCard .right .personnal {
                display: flex;
                border-bottom: 1px #2c3e52 solid;
            }

            #yourCard .right .personnal .left {
                width: 60%;
            }
            #yourCard .right .personnal .left h2, #yourCard .right .personnal .left p {
                margin: 0;
            }

            #yourCard .right .personnal .left h2 {
                margin-bottom: 10px;
            }


            #yourCard .right .personnal .right {
                width: 40%;
            }

            #yourCard .right .personnal .right img {
                height: 100%;
            }

            #yourCard .right .personnal .left a {
                font-size: 15px;
                color: rgba(38, 139, 216, 1);
                text-decoration: none;
            }

            #yourCard .right .notifications .notif .item i {
                margin: auto 10px auto 0;
                font-size: 40px;
                color: rgba(38,139,216,1);
            }

            #yourCard .right .notifications {
                padding: 0 3%;
            }

            #yourCard .right .notifications .notif .item p {
                margin: auto 0 auto 0;
                font-size: 15px;
            }

            #yourCard .right .notifications .notif .item {
                margin-bottom: 10px;
            }
        </style>
        <div id="yourCard">
            <div class="left">
                <img src="{{ asset('img/iPhone-safari.png') }}">
                <iframe src="{{ data.baseUri }}{{ path('card', {'id': card.0.id, 'name': card.0.name}) }}"></iframe>
            </div>
            <div class="right">
                <div class="stats">
                    <div class="left">
                        <h2>Votre carte à été visionnée</h2>
                        <a href="">Accéder aux statistiques</a>
                    </div>
                    <div class="right">
                        <h2>74<span>fois</span></h2>
                    </div>
                </div>
                <div class="personnal">
                    <div class="left">
                        <h2>{{ app.user.firstname|default('undefined') }} {{ app.user.lastname|default('undefined') }}</h2>
                        <a href="{{ data.baseUri }}{{ path('card', {'id': card.0.id, 'name': card.0.name}) }}">{{ data.baseUri }}{{ path('card', {'id': card.0.id, 'name': card.0.name}) }}</a>
                        <p>Date d'expéritation : <b>21-07-2022</b></p>
                    </div>
                    <div class="right flex column">
                        <img class="auto-height" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://etrevegetarien.fr">
                        <a class="btn text-center" href=""><i class="fad fa-download"></i> Télécharger</a>
                    </div>
                </div>
                <div class="notifications">
                    <div class="title">
                        <h2>Notifications</h2>
                    </div>
                    <div class="notif">
{#                        <div class="item flex">#}
{#                            <i class="fad fa-calendar-alt"></i> <p>Vous avez une nouvelle demande</p>#}
{#                        </div>#}
{#                        <div class="item flex">#}
{#                            <i class="fad fa-comments-alt"></i> <p>Vous avez une nouveau message</p>#}
{#                        </div>#}
                        <div class="item flex">
                            <i class="fad fa-check"></i> <p>Vous n'avez aucune notification</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.addEventListener("load", function(event) {
            const autoHeight = $(".auto-height");
            autoHeight.css("height", autoHeight.width()); /* $(this).width() */
            console.log(autoHeight.width())
        })
    </script>
{% endblock %}
