{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block navbar %}{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Arnaud/Documents/GitLab/NumericCard/src/Controller/CardController.php'|file_link(0) }}">src/Controller/CardController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Arnaud/Documents/GitLab/NumericCard/templates/card/index.html.twig'|file_link(0) }}">templates/card/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
