{% extends 'base.html.twig' %}

{% block title %}NumericCraft - Connexion!{% endblock %}
{% block stylesheets %}
    <link href="https://laarmwork.arnaudjacques.fr/res/css/forms.css" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
    <section id="login" class="container m-t-4">
        <form action="{{ path('login') }}" method="POST" class="item p-2 shadow-hover-1 border-1 flex column">
            {% if error %}
                <div class="alert warning">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="form-group flex column m-t-1">
                <label for="email">E-mail</label>
                <input type="email" class="form-text" id="email" name="_username" placeholder="Votre e-mail"
                       aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec
                    quelqu'un d'autre.</small>
            </div>
            <div class="form-group flex column">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-text" id="password" name="_password" placeholder="Votre mot de passe"
                       required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                <label class="form-check-label" for="remember_me">Souvenir de moi</label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mgl-auto">
                <button type="submit" class="btn">Connexion</button>
                <a type="submit" class="btn primary" href="{{ path('signup') }}">Inscription</a> -
                <a href="{{ path('passwordForgot') }}" class="PasswordForgot mgl-auto"><i
                            class="fad fa-user-secret"></i>
                    Mot de passe oublié</a>
            </div>
        </form>
    </section>
{% endblock %}