{% extends 'base.html.twig' %}

{% block title %}Inscription - NumericCraft!{% endblock %}
{% block stylesheets %}
    <link href="https://laarmwork.arnaudjacques.fr/res/css/forms.css" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
    <section id="login" class="container m-t-4 item p-2 shadow-hover-1 border-1 flex column">
        <div id="result"></div>
        {% if error %}
            <div class="alert warning">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <label for="firstname" class="m-b-1">Prénom nom</label>
        <div class="flex flex-wrap item justify-center">
            <div class="input-group flex w-50">
                <input id="firstname" type="text" class="form-text w-100" placeholder="Prénom">
            </div>
            <div class="input-group flex w-50">
                <input id="lastname" type="text" class="form-text w-100" placeholder="Nom">
            </div>
        </div>
        <div class="form-group flex column m-t-1">
            <label for="email">E-mail</label>
            <input type="email" class="form-text" id="email" name="email" placeholder="Votre e-mail"
                   aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un
                d'autre.</small>
        </div>
        <div class="form-group flex column">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-text" id="password" name="_password" placeholder="Votre mot de passe"
                   required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="cgu" name="cgu">
            <label class="form-check-label" for="cgu">J'accepte les <a href="#">CGU</a></label>
        </div>
        <div class="mgl-auto">
            <button id="btnSignUp" type="submit" class="btn">S'inscrire</button>
            -
            <a href="{{ path('passwordForgot') }}" class="PasswordForgot mgl-auto"><i class="fad fa-user-secret"></i>
                Mot de passe oublié</a>
        </div>
    </section>
    <script>
        window.addEventListener("load", function(event) {
            $("#btnSignUp").click(function (e) {
                if ($("#firstname").val().length !== 0 && $("#lastname").val().length !== 0 && $("#email").val().length !== 0 && $("#password").val().length !== 0) {
                    e.preventDefault();
                    $.post("{{ path('ajaxSignUp') }}", {
                        firstname: $("#firstname").val(),
                        lastname: $("#lastname").val(),
                        email: $("#email").val(),
                        password: $("#password").val(),
                        csrfData: "{{ csrf_token('create-user-signup') }}"
                    }, function (data) {
                        $("#result").html("<div class='alert success'>" + data.message + "</p></div>");
                        window.location.replace("{{ path('login') }}");
                    }, 'json').fail(function (data) {
                        $("#result").html("<div class='alert danger'>" + data.responseJSON.message.detail + "</p></div>");
                    });
                } else {
                    $("#resultat").html("<div class='content red'><p>Veuillez remplir tout les champs !</p></div>");
                }
            });
        });
    </script>
{% endblock %}