<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100i,300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <!-- LaarmWork CSS -->
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/text.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/block.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/navbar.css">
    <link rel="stylesheet" href="https://arnaudjacques.fr/LaarmWork/res/css/main.css">
    <link href="https://laarmwork.arnaudjacques.fr/res/css/alert.css" rel="stylesheet">
    <link href="https://laarmwork.arnaudjacques.fr/res/css/button.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}NumericCard{% endblock %}</title>
</head>
<body>
<header>
    <style>
        .dropdown-content {
            min-width: 169px;
        }
    </style>
    {% block navbar %}
    <nav class="m-relative">
        <div class="mobile btn"><i class="fas fa-bars"></i></div>
        <div class="content container">
            <div class="left">
                <a class="logo"><img src="{{ asset("/logo.png") }}"></a>
                <a href="#">Accueil</a>
                <a href="#">Démo</a>
                <div class="dropdown">
                    <button class="dropbtn">Contact <i class="fad fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Wiki</a>
                        <a href="#">Avoir de l'aide</a>
                        <a href="#">Devenir partenaire</a>
                    </div>
                </div>
            </div>
            <div class="right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn" href="{{ path('adminDashboard') }}">Panel</a>
                {% else %}
                    <a class="btn" href="{{ path('login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block header %}{% endblock %}
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then LaarmWork JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://arnaudjacques.fr/LaarmWork/res/js/laarmwork.js"></script>
<script src="https://kit.fontawesome.com/fd85e680ed.js" crossorigin="anonymous"></script>
</body>
</html>